
.option-menu{
    display: flex;
    flex-direction: column;

}

.top {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    background-color: var(--card-color);
    z-index: 2;
}

.logo{
    font-size: 4em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0.5em;
    cursor: pointer;
  }
  

.arrow-left{
    font-size: 1.8em;
    margin-bottom: 1em;
    cursor: pointer;
}

.margin-bottom{
    margin-bottom: 10%;
}

.toggle-back-btn-servicii-already-selected{
    margin-left: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-item-text{
    margin: 0.1em;
    font-size: small;
}

.selected-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--selected-color);
    color: white;
    padding: 0.3em;
}

.selected-item-delete-div{
    cursor: pointer;
}

.phone-input {
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: var(--text-color-white);
    width: 250px;
    outline: none;
    transition: border-color 0.3s;
    background-color: var(--input-color);
    border-radius: 0.7em;
  }

  .phone-input::placeholder {
    color: var(--text-color-white); /* Color for the placeholder text */
    opacity: 1; /* Ensure the placeholder text is fully visible */
  }
  
  .phone-input:focus {
    border-color: #007bff; /* Change to your preferred focus color */
  }


.margin-right{
    margin-right: 10em;
}

.servicii-and-judete{
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
}

.bottom-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-top: 2em;
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    right: 10px;
}


.delete-btn-background{
    background-color: rgb(245, 20, 20);
}


.selected-items{
    display: flex;
    flex-direction: row;
    max-width: 30em;
    flex-wrap: wrap;
}

.selected-item-text{
    margin: 0.1em;
    margin-right: 0.3em;
    font-size: small;
}

.selected-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
    color: white;
    background-color: var(--selected-color);
    padding: 0.3em;
    cursor: pointer;
}

.custom-dialog-surface {
    border-radius: 30%; /* Adjust the value as per your preference */
  }

  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30%; /* Adjust the value as per your preference */
  }

.display-serviciile{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.images{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow-x: auto;
}

.bottom-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    margin-top: 2em;
    position: absolute;
    bottom: 10px; /* Adjust this value as needed */
    right: 10px;
}
.bottom-btn{
    font-size: medium;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 10%;
    cursor: pointer;
}

.remove-btn {
    position:relative;
    bottom: 2em;
    left: 0.3em;
    color: red;
    cursor: pointer;
    z-index: 1;
}

.drag-preview {
    border: 2px dashed gray; /* Adjust the style of the preview */
     /* Initially hide the preview */
}

.dragging .drag-preview {
    display: block; /* Display the preview when dragging */
}

::placeholder {
    color: var(--text-color-white); /* Example color */
  }
  .content{
    display: flex; flex-direction: column; align-items: center;
}


  .sidebar-button-toggle{
    color: white; font-size: 3em; position: absolute; top:0.5em; left: 0.1em; cursor: pointer; display: none;
    }

    @media screen and (max-width: 70em
    ) {
    .logo {
      font-size: 3em; /* Adjusted width for smaller resolutions */
    }
    }
    
    @media screen and (max-width: 50em
    ) {
      .logo {
          font-size: 2em; /* Adjusted width for smaller resolutions */
        }
    }
    
    @media screen and (max-width: 40em
    ) {
      .logo {
          font-size: 1.5em;
          margin-left: 1em; /* Adjusted width for smaller resolutions */
        }

        .bottom-buttons{
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            padding: 0!important;
            padding-right: 0.2em;
        }
  
    }
    
    @media screen and (max-width: 35em
    ) {
      .content{
        max-width: 100%;
          align-items: start;
        }
        .servicii-deja-selectate{
          margin-right: 1em;
        }
      .logo {
          display: none; /* Adjusted width for smaller resolutions */
        }
    
        .sidebar-button-toggle{
          display: block;
        }
    
        .top{
          max-width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position:relative;
          top: 0;
          background-color: var(--card-color);
      }
      .account{
        display: none;
      }
  
  
      .servicii-oferite{
          left: 0;
          right: auto;
          position: relative;
          top: 0;
          width: 100%;
      }
  
      .search-bars-width{
          width: 100%;
          margin-top: 2em;
      }
  
      .bottom-buttons{
          width: 100%;
          display: flex;
          position: relative;
          flex-direction: row;
          justify-content: end;
          align-items: center;
          padding: 0!important;
      }
    }