.content{
    width: 20vw;
    max-height: 50vh;
    background-color: var(--tab-color);
    height: fit-content;
    padding-top: 2em;
    padding-bottom: 2em;
    cursor: pointer;
    border-radius: 1em;
}

p{
    margin: 0;
    padding: 0;
}

img{
    width: 70%;
    border-radius: 0.7em;
}
