.content{
    width: 25em;
    height: 29em;
    background-color: var(--card-color);
    padding-top: 0.7em;
    padding-bottom: 2em;
    cursor: pointer;
    border-radius: 1em;
}

p{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 70%;
    height: 40%;
    border-radius: 0.7em;
}
