<div class="top" style="z-index:0" (click)="clickMyAccount()">
    <button *ngIf="!isLoggedIn" type="button" (click)="clickLogin()"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body login-btn">Log in</button>
    <div class="user-info" *ngIf="isLoggedIn">
        <img class="profile-pic" [src]="displayPlaceholder ? placeHolderImg : profilePicContent" alt="Profile Picture"/>

        <p style="text-align: center;" class="my-account">Contul meu</p>
        <i class="fa-solid fa-caret-down account-dropdown-icon"></i>
    </div>
</div>
<div *ngIf="showAccountDropdown" class="top-dropdown" style="position: absolute; z-index: 2;">
    <div class="account-dropdown">
        <div class="account-dropdown-item" (click)="clickItem(item)" *ngFor="let item of accountDropDown">
            <i class="logout-icon" *ngIf="item === 'Log out'" class="fa-solid fa-arrow-right-from-bracket"></i>
            <p *ngIf="item === 'Log out'"  class="dropdown-item-p"> {{item}} </p>
            <i *ngIf="item != 'Log out'" class="logout-icon fa-solid fa-gear"></i>
            <p  *ngIf="item != 'Log out'"  class="dropdown-item-p">{{item}}</p>
        </div>
    </div>
</div>