
.content {

  /* background-image: url("https://img.freepik.com/premium-vector/working-tools-illustration-background-vector-seamless-pattern_153454-3340.jpg"); */
  /* background-image: url('../../../assets/background.jpg'); */
  
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
  overflow: hidden;
}


.cards-container {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 3em;
  overflow: hidden;
  filter: blur(0);
}

.am-gasit{
  color: white; font-size: 2.4em; font-weight: bold; z-index: 1;
}


@media screen and (max-width: 70em) {


  .cards-container{
    overflow: hidden;
  }

}

@media screen and (max-width: 50em) {


  .cards-container{
    width: auto;
  }
  .am-gasit{
    font-size: 1.7em;
  }
}

@media screen and (max-width: 40em) {


  .cards-container{
    width: auto;
  }
  .am-gasit{
    font-size: 1.2em;
  }
}

