<div style="width: 45vw; height: 75vh; background-color: var(--background-color);">
    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <div style="margin-top: 2em;">
            <p style="font-size: large; font-weight: bold; color: white;">Write your review</p>
        </div>
        <div [ngStyle]="{'border': validationDescription ? '0.1em solid red' : ''}">
            <form>
                <textarea maxlength="250"  style="width: 40vw;height: 40vh; background-color: gray; color: white;" [(ngModel)]="descriptionText" id="description"
                    name="description" rows="6" cols="40"
                    placeholder="Enter your review here..."></textarea><br>
                    <div style="position: relative; width: 100%;">
                        <span style="position: absolute; bottom: 1; right: 0; color: var(--text-color-white);">
                            {{ descriptionText.length }}/250
                        </span>
                    </div>
            </form>
        </div>
        <div *ngIf="validationDescription">
            <p style="color: red; font-size: small;">Description text must be at least 10 characters long</p>
        </div>
        
        <div style="width: 40vw;" [ngStyle]="{'border': validationRating ? '0.1em solid red' : ''}">
            <p style="color: white; font-size: medium; font-weight: bold;">Give a star rating</p>
            <app-star-rating [static]="false" [rating]="rating" (ratingEvent)="saveRaring($event)" ></app-star-rating>
        </div>
        <div *ngIf="validationRating">
            <p  style="color: red; font-size: small;">Must give a star rating</p>
        </div>
        
    </div>
    <div style="display: flex; justify-content: end; position: absolute; bottom: 0.6em; right: 0;">
        <div (click)="cancel()" style="border-radius: 10%; padding: 1em; cursor: pointer; background-color: gray; margin-right: 1.2em;">
            <span style="font-size: large; font-weight:500; color: white;">Cancel</span>
        </div>
        <div *ngIf="data.edit" (click)="deleteReview()" style="border-radius: 10%; padding: 1em; cursor: pointer; background-color: red;">
            <span style="font-size: large; font-weight:500; color: white;">Delete</span>
        </div>
        <div (click)="publish()" style="border-radius: 10%; padding: 1em; cursor: pointer; background-color: green; margin-right: 1.5em; margin-left: 1em;">
            <span style="font-size: large; font-weight:500; color: white">Publish</span>
        </div>
    </div>
</div>
