::placeholder {
    color: var(--text-color-white); /* Example color */
  }
.content{
  width: 45vw; height: 75vh; background-color: var(--background-color);
}

  @media screen and (max-width: 40em
  ) {
    .content{
      width: 80vw;
      height: 45vh;
    }

  }
  