<div style="display: flex; flex-direction: column; min-height: 100vh;" [ngStyle]="{'justify-content': !pageReady? 'center' : '', 'align-items': !pageReady ? 'center' : ''}">
    <div *ngIf="!pageReady">
        <div class="spinner-border text-primary" style="width: 8.2rem; height: 8.2rem;" role="status">
        </div>
    </div>
    <div *ngIf="pageReady" style="flex-grow:1;">
        <div style=" display: flex; flex-direction: column; align-items: center;">
            <!-- Your content here -->
            <!-- This section represents the existing content -->
            <div style=" position: absolute; right: 0; top: 0;">
                <div style="display: flex; justify-content: end; margin-right: 1em;">
                    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center;">
                        <span style="font-size: medium; font-weight: bold;">Servicii selectate</span>
                        <div>
                            <div *ngFor="let item of alreadySelectedServicii"><span>{{item.name}}</span></div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div style="width: 50vw; margin-top: 2em;">
                <div>
                    <p>Selecteaza serviciul pe care doresti sa il prestezi</p>
                    <div *ngIf="selectedServiciu == null">
                        <app-generic-search-bar [notAvailableOptions]="alreadySelectedServicii" [showValidationErrorEvent]="serviciuValidationErrorEmitter"
                            (selectedValueEmitter)="getSelectedValueServicii($event)"
                            (typedValue)="getServiciuTypedValue($event)"
                            [searchResultEventEmitter]="serviciiSearchResultEventEmitter"
                            [placeHolderText]="'Cauta serviciu'"></app-generic-search-bar>
                        
                    </div>
                    <div *ngIf="selectedServiciu != null" style="display: flex; justify-content: start; align-items: center;">
                        <div style="width: 34%;">
                            <div *ngIf="selectedServiciu != null" class="selected-item gradient-custom-4">
                                <p class="selected-item-text" style="margin-right: 2em;">{{selectedServiciu.name}}</p>
                                <div class="selected-item-delete-div" (click)="removeSelectedServiciu()">
                                    <i class="fa-solid fa-x selected-item-delete-icon" style="color: red;"></i>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p style="margin-top: 2em;">Selecteaza judetle unde doresti sa prestezi serviciul. Clientii te vor
                        gasi
                        in functie de judetule pe care le selectezi</p>
                    <div class="">
                        <app-generic-search-bar [showValidationErrorEvent]="judeteValidationErrorEmitter"
                            (selectedValueEmitter)="getSelectedValueJudete($event)"
                            (typedValue)="getJudetTypedValue($event)"
                            [searchResultEventEmitter]="judeteSearchResultEventEmitter"
                            [placeHolderText]="'Cauta judet'"></app-generic-search-bar>
                        <div class="selected-items">
                            <div *ngFor="let item of selectedJudete">
                                <div class="selected-item">
                                    <p class="selected-item-text">{{item.name}}</p>
                                    <div class="selected-item-delete-div" (click)="removeSelectedJudet(item)">
                                        <i class="fa-solid fa-x selected-item-delete-icon" style="color: red;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Description and images -->
                <div style="margin-top: 2em;">
                        <span>Selecteaza imaginile care vrei sa apara in acest anunt. Prima imagine selectata va fi cea din
                            cover</span>
                        <div [ngStyle]="{'border': showImagesValidation? '0.1em solid red' : ''}"> 
                            <div class="add-images">
                                <app-image-selector [selectedImages]="[]" (outPutImages)="changeImages($event)"></app-image-selector>
                            </div>
                        </div>
                        <div *ngIf="showImagesValidation">
                            <span style="color: red; font-size: medium;">Select at least one image</span>
                        </div>
                    
                    
                    <div style="margin-top: 2em;width: 100%;">
                        <form>
                            <label for="description">Description:</label><br>
                            <textarea (ngModelChange)="onDescriptionChange($event)" [ngStyle]="{'border': showDescriptionValidation ? '0.1em solid red' : '0.1em solid rgba(0, 0, 0, 0.1)'}" style="width: 100%;" [(ngModel)]="userDescription" id="description"
                                name="description" rows="6" cols="40"
                                placeholder="Enter your description here..."></textarea><br>
                        </form>
                        <div *ngIf="showDescriptionValidation">
                            <span style="color: red; font-size: medium;">Please enter a description</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Container for the buttons -->
    <div *ngIf="pageReady" style="position: sticky; bottom: 0; width: 100%;">
        <div style="display: flex; justify-content: end; padding: 20px; background-color: #f1f1f1;">
            <div (click)="clickCancel()" class="bottom-btn">Cancel</div>
            <div (click)="clickPublish()" class="bottom-btn"
                style="display: flex; justify-content: center; align-items: center; flex-direction: row;">
                <span>Publish</span>
                <div *ngIf="loadingPublish" class="d-flex custom-spinner" style="margin-left: 0.5em;">
                    <div class="spinner-border text-primary" style="width: 1.2rem; height: 1.2rem;" role="status">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>