.option-menu {
    display: flex;
    flex-direction: column;

}

.arrow-left {
    font-size: 1.8em;
    margin-bottom: 1em;
    cursor: pointer;
}

.margin-bottom {
    margin-bottom: 10%;
}

.toggle-back-btn-servicii-already-selected {
    margin-left: 2em;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.selected-item-text {
    margin: 0.1em;
    font-size: small;
}

.selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 0.3em;
}

.selected-item-delete-div {
    cursor: pointer;
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.margin-right {
    margin-right: 10em;
}

.servicii-and-judete {
    margin-top: 5em;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
}


.bottom-btn {
    font-size: medium;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 10%;
    cursor: pointer;
}


.selected-items {
    display: flex;
    flex-direction: row;
    max-width: 30em;
    flex-wrap: wrap;
}

.selected-item-text {
    margin: 0.1em;
    margin-right: 0.3em;
    font-size: small;
}

.selected-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
    color: white;
    background-color: rgb(65, 65, 65);
    padding: 0.3em;
    cursor: pointer;
}

.custom-dialog-surface {
    border-radius: 30%;
    /* Adjust the value as per your preference */
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 30%;
    /* Adjust the value as per your preference */
}

.serviciu-selected {
    background-color: rgb(67, 67, 255)
}

.serviciu-not-selected {
    background-color: rgb(65, 65, 65);
}

.display-serviciile {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.images {
    display: flex;
    flex-direction: row;
    max-width: 30em;
    flex-wrap: wrap;
}

.servicii-oferite{
    position: absolute; right: 1em; top: 0; margin-top: 8em;
}

.bottom-btn {
    /* fallback for old browsers */
    font-size: medium;
    margin-left: 1em;
    padding: 0.5em;
    border-radius: 10%;
    cursor: pointer;

}

::placeholder {
    color: var(--text-color-white);
    /* Example color */
}

.servicii-deja-selectate{
    font-size: medium; font-weight: bold;color: var(--text-color-white); z-index: 0;
}

.content{
    display: flex; flex-direction: column; align-items: center;
}

.search-bars-width{
    width: 50%; margin-top: 2em;
}

.top {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    background-color: var(--card-color);
    z-index: 2;
}

.bottom-buttons{
    position: absolute; bottom: 0; right: 0; width: fit-content;
}


.logo{
    font-size: 4em;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0.5em;
    cursor: pointer;
  }
  
  .sidebar-button-toggle{
    color: white; font-size: 3em; position: absolute; top:0.5em; left: 0.1em; cursor: pointer; display: none;
    }
  
  @media screen and (max-width: 70em
  ) {
  .logo {
    font-size: 3em; /* Adjusted width for smaller resolutions */
  }
  }
  
  @media screen and (max-width: 50em
  ) {
    .logo {
        font-size: 2em; /* Adjusted width for smaller resolutions */
      }
  }
  
  @media screen and (max-width: 40em
  ) {
    .logo {
        font-size: 1.5em;
        margin-left: 1em; /* Adjusted width for smaller resolutions */
      }
      .content{
        margin-top: 11em;
      }
      .servicii-deja-selectate{
        margin-top:5em;
      }
  }
  
  @media screen and (max-width: 35em
  ) {
    .content{
        margin-top:3em;
        align-items: start;
        margin-left: 1em;
      }
      .servicii-deja-selectate{
        margin-top:5em;
        margin-right: 1em;
      }
    .logo {
        display: none; /* Adjusted width for smaller resolutions */
      }
  
      .sidebar-button-toggle{
        display: block;
      }
  
      .top{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position:absolute;
        top: 0;
        background-color: var(--card-color);
    }
    .account{
      display: none;
    }
  
    .margin-top{
      margin-top: 55em;
    }

    .servicii-oferite{
        left: 0;
        right: auto;
        position: relative;
        margin-top: 4em;
        top: 0;
        width: 100%;
    }

    .search-bars-width{
        width: 100%;
    }

    .bottom-buttons{
        position: relative;
        width: 100vw;
    }

}