.nav{
    border-right: 0.1em solid black;
    /* Chrome 10-25, Safari 5.1-6 */
    /* width: 10%; */
    height: 100vh;
    width: 11vw;
}

.nav-item{
    font-size: small;
    color: #ffffff71;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.nav-item-div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-div:hover{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--selected-dropdown-color);
}

.selected-item-background{
    background: linear-gradient(to right, rgba(11, 117, 50, 0.5), rgba(143, 211, 244, 0.5));
}

.serviciu-icon{
    font-size: medium;
}

.current-account-data{
    margin: 1em;
}