<div class="search-bars-container">
    <div class="display-flex">
        <div #serviciuSearchInput [ngClass]="{'border-radius-left-bottom': !dropdownServiciiVisible}" class="input-and-clear-btn flex-serviciu input-container border-radius-left-top">
            <div class="space-between">
                <input type="text" (click)="dropdownLocationVisible = false" class="" [formControl]="textInputControlServicii" placeholder="Cauta un serviciu"/>
                <div>
                    <i (click)="clickClearServicii()" class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>

        <div #judetSearchInput class="input-and-clear-btn flex-locatie input-container">
            <div class="space-between">
                <input type="text" (click)="dropdownServiciiVisible = false" class="" [formControl]="textInputControlLocation" placeholder="Cauta o locatie"/>
                <div>
                    <i (click)="clickClearLocatie()" class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>

        <button (click)="clickSearch()" type="button"
                    class="search-btn">Search</button>
        
        <!-- <input [ngClass]="{'border-radius-right-bottom': !dropdownLocationVisible}" type="text" (click)="dropdownServiciiVisible = false" class="flex-locatie input-container border-radius-right-top" [formControl]="textInputControlLocation" placeholder="Locatie"/> -->
    </div>
</div>
<div class="search-bars-container">
    <div  class="display-flex">
        <div [ngStyle]="{'visibility': dropdownServiciiVisible ? 'visible' : 'hidden'}" class="flex-serviciu input-container border-radius-left-bottom input-container border-radius-right-bottom" [style.width.px]="getServiciuInputWidth()">
            <div class="dropdown-items-header">Suggested results</div>
            <div *ngFor="let item of filteredResultsServicii">
                <div (click)="selectService(item)" class="dropdown-item">{{item.name}}</div>
            </div>
        </div>
        <div [ngStyle]="{'visibility': dropdownLocationVisible ? 'visible' : 'hidden'}" class="flex-locatie input-container border-radius-bottom" [style.width.px]="getJudetInputWidth()" [style.margin-left.px]="getServiciuInputWidth()">
            <div class="dropdown-items-header">Suggested results</div>
            <div *ngFor="let item of filteredResultsLocatie">
                <div (click)="selectJudet(item)" class="dropdown-item">
                    {{item.name}}
                </div>
            </div>
        </div>
        <button type="button"
                    class="search-btn hidden">Search</button>
    </div>
</div>