
input{
  width: 90%;
  border: 0;
}

input:focus{
  outline: none;
}

.input-container {
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 6px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 34px;
  position: absolute;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

i{
  cursor: pointer;
  font-size: large;
}

.input-and-clear-btn{
  position: relative;
  display: inline-block;
}

.border-radius-left-top{
  border-top-left-radius: 0.6em;
}

.border-radius-left-bottom{
  border-bottom-left-radius: 0.6em;
}

.border-radius-right-top{
  border-top-right-radius: 0.6em;
}

.border-radius-right-bottom{
  border-bottom-right-radius: 0.6em;
}

.flex-locatie{
  flex: 3;
}

.flex-serviciu{
  flex:6
}

.dropdown-item{
  padding-left: 0.8em;
  margin-left: 0.1em;
  width:auto;
  cursor: pointer;
  border-radius: 0.6em;
}

.dropdown-item:hover{
  background-color: rgb(224, 225, 225);
}

.dropdown-items-header{
  font-size: small;
  margin-left: 1em !important;
}

.search-bars-container{
  width: 50em;
}

.display-flex{
  display: flex;
}

.hidden{
  visibility: hidden;
}

.border-radius-bottom{
  border-bottom-right-radius: 0.7em;
  border-bottom-left-radius: 0.7em;
}

.search-btn{
  flex:1;
  border: 0;
  border-top-right-radius: 0.6em;
  border-bottom-right-radius: 0.6em;
  /* Chrome 10-25, Safari 5.1-6 */
  background-color: var(--selected-color);

}

@media screen and (max-width: 70em
) {
  .search-bars-container {
    width: 33em; /* Adjusted width for smaller resolutions */
  }
}

@media screen and (max-width: 50em
) {
  .search-bars-container {
    width: 25em; /* Adjusted width for smaller resolutions */
  }
}

@media screen and (max-width: 40em
) {
  .search-bars-container {
    width: 20em; /* Adjusted width for smaller resolutions */
    z-index: 2;
  }
  .display-flex {
    flex-direction: column; /* Adjusted width for smaller resolutions */
  }
  .flex-locatie{
    flex: 5;
  }
  
  .flex-serviciu{
    flex:5;
  }
  .border-radius-right-bottom{
    border-radius: 0;
  }

  .border-radius-left-bottom{
    border-radius: 0;
  }

  .border-radius-left-top{
    border-radius: 0;
  }

  .search-btn{
    border-radius: 0;
    z-index: 3;
  }

  .search-result-judet{
    z-index: 100;
    top: 7em;
    position: absolute;
    margin-left: 0!important;
  }

  .search-result-serviciu{
    z-index: 100;
    top: 3em;

  }
}

@media screen and (max-width: 35em
) {
  .search-bars-container {
    margin-left: 0.4em;
  }
}