<div #parentElement style="max-width: 100%;">
    <div style="width: 100%;">
        <div class="input-container" style="width: 100%; background-color: var(--input-color);" [ngStyle]="{'border': showValidationError ? 'solid 0.1em red': ''}" [ngClass]="{'border-radius-top': dropdownVisible, 'border-all': !dropdownVisible}">
            <div class="space-between" style="background-color: var(--input-color);" >
                <input type="text" style="color:white; background-color: var(--input-color);" [formControl]="textInput" [placeholder]="placeHolderText"/>
                <div>
                    <i (click)="clearSerchbar()" class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="dropdownVisible" [style.width.px]="getParentWidth()" class="input-container" style="position:fixed; border: solid 0.1em white; background-color: #482728;">
            <div class="dropdown-items-header">Suggested results</div>
            <div *ngFor="let item of filteredResults">
                <div *ngIf="resultAvailable(item)" (click)="selectOption(item)" class="dropdown-item">{{item.name}}</div>
                <div *ngIf="!resultAvailable(item)" class="dropdown-item" style="cursor: not-allowed; color: grey;">{{item.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="showValidationError">
        <span style="color: red; font-size: medium;">This field is mandatory</span>
    </div>
</div>
<div class="search-bars-container">
    
</div>