<div #parentElement style="max-width: 100%;">
    <div style="width: 100%;">
        <div class="input-container theme-red" style="width: 100%;" [ngStyle]="{'border': showValidationError ? 'solid 1px red': 'solid 1px rgba(0, 0, 0, 0.1)'}">
            <div class="space-between theme-red" >
                <input type="text" class="theme-red" [formControl]="textInput" [placeholder]="placeHolderText"/>
                <div>
                    <i (click)="clearSerchbar()" class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div *ngIf="dropdownVisible" [style.width.px]="getParentWidth()" class="input-container" style="position:fixed; border: solid 1px rgba(0, 0, 0, 0.1)">
            <div class="dropdown-items-header">Suggested results</div>
            <div *ngFor="let item of filteredResults">
                <div *ngIf="resultAvailable(item)" (click)="selectOption(item)" class="dropdown-item">{{item.name}}</div>
                <div *ngIf="!resultAvailable(item)" class="dropdown-item" style="cursor: not-allowed; color: grey;">{{item.name}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="showValidationError">
        <span style="color: red; font-size: medium;">This field is mandatory</span>
    </div>
</div>
<div class="search-bars-container">
    
</div>