<div class="search-bars-container">
    <div class="display-flex">
        <div class="input-and-clear-btn flex-serviciu input-container">
            <div class="space-between">
                <input type="text" class="" [formControl]="textInput" [placeholder]="placeHolderText"/>
                <div>
                    <i (click)="clearSerchbar()" class="fa-solid fa-x"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="display-flex fixed">
        <div *ngIf="dropdownVisible" class="flex-serviciu input-container">
            <div class="dropdown-items-header">Suggested results</div>
            <div *ngFor="let item of filteredResults">
                <div (click)="selectOption(item)" class="dropdown-item">{{item.name}}</div>
            </div>
        </div>
    </div>
</div>
<div class="search-bars-container">
    
</div>