<div>
    <div style="display: flex; flex-direction: row;  background-color: var(--background-color);">

      <app-settings-sidebar [selectItemEvent]="selectedItemEvent" (sideBarEventEmitter)="selectMenuItem($event)"></app-settings-sidebar>

          <!-- <app-setting-content [selectedSetting]="selectedSetting"></app-setting-content> -->
          <app-assign-servicii (publishDone)="deselectOption($event)" *ngIf="menuItemSelected === 1"></app-assign-servicii>
          <app-edit-servicii (editDone)="deselectOption($event)" *ngIf="menuItemSelected === 2"></app-edit-servicii>
    </div>
  </div>