img{

        border-radius: 50%; /* Makes the image round */
        overflow: hidden;
        width: 8em;
        height: 8em;
        cursor: pointer;
}

.parent{
  width: auto; background-color: var(--background-color); display: flex; align-items: center; overflow-y: auto; overflow-x: hidden; flex-direction: column; height: 90vh;
}


.highlight:hover{
    border-radius: 30%;
    background-color: var(--card-color);
}


.setting-items{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 80em
) {
    .parent{
      height: 90vh;
      width:auto;
    }
}


@media screen and (max-width: 40em
) {
    .parent{
      height: 80vh;
      width:100vw;
    }
}
