<div *ngIf="sidebarShow" class="sidebar" (click)="stopPropagation($event)">
    <div [appClickOutside]="sidebarShow" (clickOutsideEvent)="closeSidebar()" *ngIf="sidebarShow">
        <div *ngIf="!loggedIn" class="btn-in-sidebar" (click)="clickLogin()">
            <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 0.5em;"></i>
            <span> Log in</span>
        </div>
        <div *ngIf="loggedIn"  class="btn-in-sidebar" (click)="clickLogout()">
            <i class="fa-solid fa-arrow-right-from-bracket" style="margin-right: 0.5em;"></i>
            <span> Log out</span>
        </div>
        <div *ngIf="loggedIn"  class="btn-in-sidebar" (click)="clickAccountSettings()">
            <i class="logout-icon fa-solid fa-gear" style="margin-right: 0.5em;"></i>
            <span > Settings</span>
        </div>
        <div *ngIf="loggedIn"  class="btn-in-sidebar" (click)="goToMessages()">
            <i class="logout-icon fa-solid fa-message" style="margin-right: 0.5em;"></i>
            <span > Messages</span>
        </div>
        <div *ngIf="loggedIn"  class="btn-in-sidebar" (click)="clickBack()">
            <i class="logout-icon fa-solid fa-arrow-left" style="margin-right: 0.5em;"></i>
            <span style="text-wrap: wrap;">Go back</span>
        </div>
    </div>
</div>