<div style="width: 100vw; height: 100vh; background-color: var(--dark-blue); display: flex; justify-content: center; overflow-y: auto;">
    <div class="top">
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; margin-left: 2em; cursor: pointer;">
            <i style="font-size: 1.5em; color: white;" class="fa-solid fa-arrow-left"></i>
            <span style="font-size: 1.5em; color: white; margin-left: 0.5em;">Go back</span>
        </div>
        <app-my-account-menu></app-my-account-menu>
    </div>
    
    <div style="margin-top: 5em; max-width: 70vw;">
        <div style="display: flex; flex-direction: row;">
            <p style="color: white; font-size: 3em; font-weight: bold;">Dorel Augustin</p>
            <app-star-rating [rating]="5" style="margin-left: 1.5em;"></app-star-rating>
        </div>
        
        <p style="color: white; font-size: large; margin-top: 1em;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p style="margin-top: 2em; color:white">Gallery</p>
        <app-image-collection style="margin-top: 1em;" [imagini]="imagini"></app-image-collection>
        <p style="margin-top: 1em; font-size: 2em; color: white;">Contact info</p>
        <p class="contact-text" style=" margin-top: 3em;">Email: email.com</p>
        <p class="contact-text">Phone: 012 344 231</p>
        <div>
            Contact button
        </div>
        <div style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 70vw;">
            <div>
                <p style="margin-top: 1em; font-size: 2em; color: white; font-weight: bold;">Customer Reviews</p>
            </div>
            
            <div style="cursor: pointer; display: flex; flex-direction: row;">
                <i style="font-size: medium; color: white; margin-right: 0.7em;" class="fa-solid fa-pen"></i>
                <p style="color: white; font-size: medium;">Write a review</p>
            </div>
        </div>
        <div style="background-color: var(--brighter-blue); width: 70vw; margin-top: 2em; border-radius: 1em;">
            <div *ngFor="let review of reviews">
                <div style="margin-left: 4em; padding-top: 3em;">
                    <app-review-card></app-review-card>
                </div>
                
            </div>
        </div>
    </div>
</div>

