<div *ngIf="!loading"
    style="width: 100vw; height: 100vh; background-color: var(--background-color); display: flex; justify-content: center; overflow-y: auto;">
    <div class="top">
        <span class="logo" (click)="goBack()">DOREL</span>
        <div style="margin-top: 1em;">
            <app-search-bar (searchClickEvent)="navigateToSearch($event)"></app-search-bar>
        </div>
        <app-my-account-menu style="margin-right: 2em; margin-bottom: 1em;"></app-my-account-menu>
    </div>


    <div class="result-card">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
            <div style="display: flex; flex-direction: column; max-width: 80%;">
                <div style="display: flex; flex-direction: row;">
                    <div style="display: flex; flex-direction: column;">
                        <p style="color: white; font-size: 3em; font-weight: bold;">{{searchResult.userName}}</p>
                        <div style="display: flex; flex-direction: row; margin-top: 1em;">
                            <div style="display: flex; flex-direction: row; align-items: center;">
                                <i class="fa-solid fa-envelope contact-text"></i>
                                <span class="contact-text" style="margin-left:0.3em">email.com</span>
                            </div>
                            <div
                                style="display: flex; flex-direction: row; align-items: center; margin-left: 0.8em;">
                                <i class="fa-solid fa-phone contact-text"></i>
                                <span class="contact-text margin-left:1em" style="margin-left:0.3em">012 344 231</span>
                            </div>
                        </div>
                        

                    </div>

                    <app-star-rating [static]="true" [rating]="5" style="margin-left: 1.5em;"></app-star-rating>
                    <span
                        style="color: white; font-size: 1.3em; font-weight: 400; margin-left: 1em;">{{searchResult.starsAverage}}/5
                        ({{searchResult.numberOfReviews}} reviews)</span>
                </div>
                <p style="color: white; font-size: 1.7em; margin-top: 1em; line-height: 1em;">{{searchResult.descriere}}
                </p>
            </div>
            <div>

                <app-button (click)="clickSendMsg()" [label]="'Send message'"></app-button>
            </div>
        </div>

        <div style="margin-top: 2em;">
            <app-image-collection [width]="'15vw'" [height]="'27vh'" [imagini]="imagini"></app-image-collection>

        </div>

        <div
            style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%">
            <div>
                <p style="margin-top: 1em; font-size: 2em; color: white; font-weight: bold;">Customer Reviews</p>
            </div>

            <div *ngIf="showWriteReview" (click)="writeReview(false)"
                style="cursor: pointer; display: flex; flex-direction: row;">
                <i style="font-size: medium; color: white; margin-right: 0.7em;" class="fa-solid fa-pen"></i>
                <p style="color: white; font-size: medium;">Write a review</p>
            </div>
            <div *ngIf="showEditReview" (click)="writeReview(true)"
                style="cursor: pointer; display: flex; flex-direction: row;">
                <i style="font-size: medium; color: white; margin-right: 0.7em;" class="fa-solid fa-pen"></i>
                <p style="color: white; font-size: medium;">Edit review</p>
            </div>
        </div>
        <div
            style="background-color: var(--card-color); width: 70vw; margin-top: 2em; border-radius: 1em; width: 100%;">
            <div *ngFor="let review of reviews">
                <div
                    style="background-color: var(--review-color); border-radius: 0.7em; padding: 2em; margin-bottom: 1.4em;">
                    <app-review-card [description]="review.reviewDescription" [reviewerName]="review.reviewerName"
                        [stars]="review.rating"></app-review-card>
                </div>
            </div>
        </div>
        <div *ngIf="reviews.length === 0"
            style="background-color: var(--card-color); margin-top: 2em; border-radius: 1em; width: 100%;">

            <div
                style="background-color: var(--review-color); border-radius: 0.7em; padding: 2em; display: flex; align-items: center; justify-content: center;">
                <p style="font-size: large; color: var(--text-color-white); font-weight: 500;"> No reviews yet</p>
            </div>

        </div>
    </div>
</div>
<div *ngIf="loading"
    style="width: 100vw; height: 100vh; background-color: var(--background-color); display: flex; justify-content: center; align-items: center;">
    <<div class="top">
        <span (click)="goBack()"
            style="font-size: 4em; color: white; font-family: 'Courier New', Courier, monospace; margin-left: 0.5em; cursor: pointer;">DOREL</span>
        <div style="margin-top: 1em;">
            <app-search-bar (searchClickEvent)="navigateToSearch($event)"></app-search-bar>
        </div>
        <app-my-account-menu style="margin-right: 2em; margin-bottom: 1em;"></app-my-account-menu>
</div>
<div *ngIf="loading" class="d-flex custom-spinner" style="margin-left: 0.5em;">
    <div class="spinner-border text-primary" style="width: 4.5rem; height: 4.5rem;" role="status">
    </div>
</div>
</div>