.top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-color);
  height: 10%;

}

.parent{
  width: 100vw; height: 100vh; overflow-x:hidden; overflow-y: auto;
}

.logo{
  font-size: 4em;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 0.5em;
  cursor: pointer;
}

.sidebar-button-toggle{
  color: white; font-size: 3em; position: relative; padding-right: 0.8em; cursor: pointer; display: none;
}

.mesaje{
  cursor: pointer; display: flex; align-items: center; justify-content: center;
}

@media screen and (max-width: 70em
) {
  .logo {
    font-size: 3em; /* Adjusted width for smaller resolutions */
  }
  .search-bar{
    margin-right: 0;
  }
}

@media screen and (max-width: 50em
) {
    .logo {
        font-size: 2em; /* Adjusted width for smaller resolutions */
      }
      .mesaje-text{
        display: none;
      }

      .top{
        height: 20%;
      }
      .parent{
        width: auto;
      }
}

@media screen and (max-width: 40em
) {
    .logo {
        font-size: 1.5em;
        margin-left: 1em; /* Adjusted width for smaller resolutions */
      }
      .parent{
        height: fit-content;
        width: auto;
      }
}

@media screen and (max-width: 35em
) {
    .logo {
        display: none; /* Adjusted width for smaller resolutions */
      }

      .sidebar-button-toggle{
        display: block;
        padding: 0;
      }

      .top{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
        top: 0;
        background-color: var(--card-color);
    }
    .account{
      display: none;
    }

    .mesaje{
      display: none;
    }

    .search-bar{
      margin-right: 0!important;
    }


}