<div class="parent">
  <div *ngIf="showSearchBar" class="top">
    <span (click)="clickLogo()" class="logo">DOREL</span>
    <i id="sidebar-btn" (click)="toggleSidebar()" class="fa-solid fa-bars sidebar-button-toggle"></i>
    <div >
      <app-side-bar-mobile [sidebarShowChange]="sidebarShowEvent" (sideBarClose)="sideBarClose()"></app-side-bar-mobile>
    </div>
    <div style="margin-top: 1em;">
      <app-search-bar (searchClickEvent)="getDataFromSearch($event)"></app-search-bar>
    </div>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <div class="mesaje" *ngIf="userLoggedIn" (click)="goToMessages()">
        <span class="mesaje-text" style="font-size: medium; color: var(--text-color-white); margin-right: 0.7em;">Mesaje</span>
        <i style="font-size: 2em; color: white;"
        class="fa-solid fa-message"></i>
      </div>
      <span style="color: red; font-size: 3em;"
        [ngStyle]="{'visibility': showMessageNotification ? 'visible' : 'hidden'}">*</span>
      <app-my-account-menu class="account" style="margin-right: 2em; margin-bottom: 1em;"></app-my-account-menu>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>