<div style="margin-left: 2em;">
    <div class="display-serviciile">
        <span style="font-size: mediumx;">Tag-urile selectate</span>
        <div class="selected-items">
            
                <!-- <div class="selected-item">
                    <p class="selected-item-text">{{serviciu}}</p>
                </div> -->
            
        </div>
    </div>
    <span>Selecteaza imaginile care vrei sa apara in acest anunt. Prima imagine selectata va fi cea din cover</span>
    <div class="add-images">
        <form (submit)="onSubmit()">
            <input type="file" accept="image/*" (change)="onFileSelected($event)" multiple  />
          </form>
          <div class="images">
            <div *ngFor="let item of selectedImages">
                <img style="width: 8em; height: auto;" [src]="item.fileContentBase64">
    
              </div>
          </div>
    </div>
    <div>
        <form>
            <label for="description">Description:</label><br>
            <textarea [(ngModel)]="userDescription" id="description" name="description" rows="6" cols="40" placeholder="Enter your description here..."></textarea><br>
        </form>
    </div>

    <div class="bottom-buttons">
        <div class="bottom-btn">Cancel</div>
        <div (click)="clickPublish()" class="bottom-btn">
            <div *ngIf="loadingPublish" class="d-flex justify-content-center align-items-center custom-spinner">
                <div class="spinner-border text-primary" role="status">
                </div>
            </div>
            <span>Publish</span>
        </div>
    </div>
</div>
