<!-- <form class="" (submit)="onSubmit()">
    <input class="" id="fileUpload" type="file" accept="image/*" (change)="onFileSelected($event)" multiple />
</form>
<div class="images" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of selectedImages; let i = index" cdkDrag>
        <div  class="drag-handle" style="cursor:grab;">
            <img style="width: 12em; height: 10em; margin-right: 0.5em; margin-bottom: 0.5em;" [src]="item.fileContentBase64">
            <div class="remove-btn" (click)="removeImage(item)">
                <i class="fas fa-trash"></i>
            </div>
        </div>
        <div *cdkDragPreview class="drag-preview">
            <img style="width: 12em; height: 10em;" [src]="item.fileContentBase64">
        </div>
    </div>
</div> -->
<div class="content">
    <label class="drag-zone" [appDragDrop]="true" (dropped)="handleFileDrop($event)">
        <input type="file" accept="image/*" [multiple]="true" (change)="onFileSelected($event)" #fileInput
            class="visually-hidden" />
            <div style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: var(--smaller-tab-color);">
                <i class="fa-solid fa-image" style="color:var(--text-color-white); font-size: large; margin-bottom: 2em;"></i>
                <span style="color:var(--text-color-white); font-size: large;">Adauga imagini</span>
            </div>
    </label>
</div>

<div class="images" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
    <div *ngFor="let item of selectedImages; let i = index" cdkDrag>
        <div  class="drag-handle" style="cursor:grab;">
            <img style="width: 12em; height: 10em; margin-right: 0.5em; margin-bottom: 0.5em;" [src]="item.fileContentBase64">
            <div class="remove-btn" (click)="removeImage(item)">
                <i class="fas fa-trash"></i>
            </div>
        </div>
        <div *cdkDragPreview class="drag-preview">
            <img style="width: 12em; height: 10em;" [src]="item.fileContentBase64">
        </div>
    </div>
</div>