.nav{
    border-right: 0.1em solid black;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    width: 10%;
    height: 100vh;
}

.nav-item{
    font-size: medium;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 1.2em;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.nav-item-div{
    cursor: pointer;
}

.selected-item-background{
    background: linear-gradient(to right, rgba(11, 117, 50, 0.5), rgba(143, 211, 244, 0.5));
}

.serviciu-icon{
    font-size: medium;
}

.profile-pic{
    border-radius: 50%; /* Makes the image round */
    overflow: hidden;
    width: 3em;
    height: auto;
}

.current-account-data{
    margin: 1em;
}