/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --red: #482728;
    --background-color: #303036;
    --card-color: #3d3d44;
    --review-color: #4a4a52;
    --tab-color: #FFFFFF;
    --smaller-tab-color: #cacaca;
    --item-hover: #a5a5a5;
    --selected-dropdown-color: rgb(146, 144, 144);
    --selected-color: #EA9010;
    --text-color-white: white;
    --input-color: rgb(189, 185, 185);
    --text-color-black: black;
    --black: black;
    /* Add more colors as needed */
  }

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  span {
    font-family: Arial, Helvetica, sans-serif;
  }