/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.theme-dark-blue{
    background-color: #11191f;
}

.theme-brighter-blue{
    background-color: #141e26;
}

.theme-slate-gray{
    background-color: #767b91;
}

.theme-golden-brown{
    background-color: #9C6825;
}

.theme-red{
    background-color: #482728;
}
