/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
    --red: #482728;
    --background-color: #2D3250;
    --tab-color: #424769;
    --smaller-tab-color: #7077A1;
    --selected-color: #F6B17A;
    --text-color-white: white;
    --input-color: gray
    /* Add more colors as needed */
  }