::ng-deep .option-menu {
     /* Apply styles to the parent's div */
    /* Add more styles as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border: 1px solid black;
    border-radius: 5%;
    padding-left: 2em;
    padding-right: 2em;
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    margin: 1.2em;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex!important;
    flex-direction: column!important;
}