<div class="body">
    <div class="top">
        <app-my-account-menu></app-my-account-menu>
    </div>
    
    <div class="search" style="height: 90%; display: flex; align-items: center; justify-content: center; width: 100vw; flex-direction: column;">
        <span style="font-size: 6em; margin-bottom: 2em; color: white; font-family: 'Courier New', Courier, monospace;">DOREL</span>
        <app-search-bar (searchClickEvent)="navigateToSearch($event)" style="width: 50%;"></app-search-bar>
    </div>
    
</div>