.body {
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}

.login-btn{
    margin-right: 1em;
    margin-top: 0.6em;
}

.top{
    display: flex;
    justify-content: end;
}

.profile-pic{
    border-radius: 50%; /* Makes the image round */
    overflow: hidden;
    width: 3em;
    height: auto;
}

.user-info{
    display: flex;
    
    align-items: center;
    margin-top: 1em;
    margin-right: 1em;

}

.my-account{
    font-size: medium;
    margin: 0;
    margin-left: 0.6em;
    cursor: pointer;
}

.account-dropdown-icon{
    margin-left: 0.2em;
}

.account-dropdown{
    margin-right: 1em;
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 6px 16px;
    width: 11em;
    font-size: small;
    line-height: 34px;
}

p{
    margin: 0;
}

.dropdown-item-p{
    margin-right: 0.5em;
}

.account-dropdown-item{
    cursor: pointer;
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-dropdown-item:hover{
    background-color: rgb(224, 225, 225);
}