<div
    style="background-color: var(--background-color); width: 100%; height: 80vh; display: flex; flex-direction: column;">
    <div *ngIf="groups.length === 0" style="font-size: medium; color: white; margin-top: 3em;">
        You dont have any chats yet
    </div>
    <div *ngFor="let group of groups; let i = index" class="chat-div"
        [ngStyle]="{'background-color': selectedChat === i ? 'gray' : ''}">
        <div (click)="clickChat(i)">
            <app-chat-with-user-menu-item [showStar]="isNewMessage(i)" style="width: 100%;"
                [chatWithUsername]="group.withUserName"
                [lastMessage]="group.messages.length > 0 ? group.messages[group.messages.length-1].messageText : '...'"></app-chat-with-user-menu-item>
        </div>
    </div>
</div>